.day-tracker-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    animation: fade-in 0.3s ease;
}

.day-tracker-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    background-color: #fff;
    z-index: 1; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.day-tracker-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.day-tracker-close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: #aaa;
    cursor: pointer;
    background: none;
    border: none;
}

.day-tracker-close-button:hover {
    color: #000;
}

.day-tracker-container.open {
    display: flex;
}

.day-tracker-content.open {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 80px;
    margin-left: 0vh; /* Use vh instead of % */
    width: calc(100%);
    overflow-y: auto;
}

.day-tracker-content {
  display: flex;
  justify-content: column;
  text-align: center;
  margin-top: 70px;
  width: 100%; /* Set the width to 100% */
  overflow-y: auto;
}

.day-tracker-buttons-container {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: calc(100% - 120px);
  overflow-y: auto;
  flex-basis: 20%;
  max-height: calc(100vh - 70px);
  background-color: #fff;
  padding-top: 70px;
}

.day-tracker-content.open {
    overflow-y: auto; /* Show the vertical scrollbar when dayTrackerOpen is true */
}

.day-tracker-button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    color: #555;
    cursor: pointer;
    transition: all 0.3s ease;
}

.day-tracker-button:last-child {
    margin-bottom: 0;
}

.day-tracker-button:focus {
    outline: none;
}

.day-tracker-button.active {
    color: #000;
    border-bottom: 4px solid #0e8ac9;
    font-weight: bold;
}

.day-tracker-button:hover {
    border-bottom: 1px solid #0e8ac9;
    font-weight: bold;
}

@media (max-width: 768px) {
    .day-tracker-content.open {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 80px;
        margin-left: 10vh; /* Use vh instead of % */
        width: calc(100%);
        overflow-y: auto;
    }
    
    .day-tracker-content {
        margin-left: 10vh;
        width: calc(100% - 10vh);
    }
}

@media (max-width: 1200px) {
    .day-tracker-content {
        margin-left: 15vh;
        width: calc(100% - 15vh);
    }
}